<h1>Admin Dashboard</h1>

<h2 class="alert-success">There are currently <%= @num_products %> <%= link_to 'products',  [:admin, :products] %> on display across <%= @num_categories %> <%= link_to 'categories',  [:admin, :categories] %></h2>
